/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************************/

body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.mainbannercontainer{
    z-index: 10000;
    max-height: 500px;
    max-width: 1227px;
    margin: 0 auto;
}

.mainbannercontainer img{
    width: 100%;
}

.bx-wrapper, .bx-viewport {
    max-height: 500px !important;
}

.menu{
    height: 60px;
    background-color: black;
}

.fixed{
    position: fixed;
    top: 0;
    z-index:100;
    width: 100%;
}

.menu-left-block,
.menu-center-block,
.menu-right-block{
    float: left;
}

.menu-left-block{
    width: calc(20% - 2px);
    border-right: 2px solid white;
    text-align: center;
}

.menu-left-block img,
.menu-right-block img{
    display: inline-block;
    max-height: 60px;
}

.menu-center-block{
    width: 58%;
}

.menu-right-block{
    width: 22%;
}

.menu-right-block a{
    display: block;
    float: right;
    width: 25%;
    text-align: center;
}



nav{
    padding-left: 30px;
}

nav, nav a{
    color: white;
    text-decoration: none;
    line-height: 60px;
}

nav a:hover{
    color: white;
    text-decoration: none;
}


.bold{
    font-weight: 700;
}

/**********************************/



section:before,
section:after {
  content: "";
  display: table;
} 
section:after {
  clear: both;
}
section {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
    margin-bottom: 6vw;
}



.main-left,
.main-right{
    float: left;
    box-sizing: border-box;
}

.main-right .main-video-thumb{
    width: 100%;
}

.container-tw{
    position: relative;
}



.col{
    box-sizing: border-box;
    float: left;
    padding: 10px;
    position: relative;
    /*height: 2000px;*/
}

.col img{
    width: 100%;
}

.full{
    width: 100%;
}

.onethird{
    width: 33.3333333333%;
}

.twothirds{
    width: 66.6666666666%;
}



.thumbfootnote{
    color: white;
    background-color: black;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    padding-left: 8px;
    font-weight: 700;
    font-size: 16px;
}

.thumbfootnote span{
    font-size: 16px;
    text-transform: lowercase;
    font-weight: 300;
    padding-right: 6px;
}

.coltitlefluid{
    font-size: 3vw;
    font-weight: 700;
    margin-top: 10px;
    padding: 0 1vw;
}

.coldescfluid{
    font-size: 1.6vw;
    font-weight: 300;
    margin-top: 6px;
    line-height: 1.8vw;
    padding-bottom: 30px;
    padding: 0 1vw;
}

.biblio{
    padding: 0 1vw;
    font-size: 12px;
    word-wrap: break-word;
}

.coltitle{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}


.coldesc{
    font-size: 14px;
    font-weight: 300;
    margin-top: 6px;
    line-height: 18px;
    padding-bottom: 30px;
}


.col a.more{
    display: block;
    position: absolute;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    bottom: 0;
    right: 16px;
}

.ham{
    display: none;
}

ul{
    padding: 1vw 2vw 0 2vw;
    margin-left: 1vw;
}

li{
    font-size: 1.3vw;
    line-height: 1.6vw;
    padding-bottom: 1vw;
}

li:nth-child(odd) {
    list-style-image: url('../img/list-empty.svg');
}
li:nth-child(even) {
    list-style-image: url('../img/list-full.svg');
}

#abrelosojos a,
#abrelosojos a:visited{
    color: #018cfb;
    text-decoration: none;
    font-size: 1.3vw;
}

/***************************************/

.aliado{
    height: 24.1vw;
    transition: all 0.2s ease-in;
}

.aliado:hover{
    background-position: 100% 0;
}

.aliado01{ background: url('../img/aliados/01-AdelaMicha.jpg'); background-size: cover; }
.aliado02{ background: url('../img/aliados/02-DiegoLuna.jpg'); background-size: cover; }
.aliado03{ background: url('../img/aliados/03-CeciliaSuarez.jpg'); background-size: cover; }
.aliado04{ background: url('../img/aliados/04-JoseMariaYazpik.jpg'); background-size: cover; }
.aliado05{ background: url('../img/aliados/05-MariaJose.jpg'); background-size: cover; }
.aliado06{ background: url('../img/aliados/06-OscarMadrazo.jpg'); background-size: cover; }
.aliado07{ background: url('../img/aliados/07-Amandititita.jpg'); background-size: cover; }
.aliado08{ background: url('../img/aliados/08-AnaFranciscaVega.jpg'); background-size: cover; }
.aliado09{ background: url('../img/aliados/09-CarlosPuig.jpg'); background-size: cover; }
.aliado10{ background: url('../img/aliados/10-ClaudiaLizaldi.jpg'); background-size: cover; }
.aliado11{ background: url('../img/aliados/11-DanielaMagun.jpg'); background-size: cover; }
.aliado12{ background: url('../img/aliados/12-DianaBovio.jpg'); background-size: cover; }
.aliado13{ background: url('../img/aliados/13-GenaroLozano.jpg'); background-size: cover; }
.aliado14{ background: url('../img/aliados/14-JavierTello.jpg'); background-size: cover; }
.aliado15{ background: url('../img/aliados/15-JohannaMurillo.jpg'); background-size: cover; }
.aliado16{ background: url('../img/aliados/16-LeticiaRoman.jpg'); background-size: cover; }
.aliado17{ background: url('../img/aliados/17-OlgaSanchez.jpg'); background-size: cover; }
.aliado18{ background: url('../img/aliados/18-RoVelazquez.jpg'); background-size: cover; }
.aliado19{ background: url('../img/aliados/19-VanessaCiangherotti.jpg'); background-size: cover; }

.fb{
    max-width: 100px;
}

.evidencia img,
.info img{
    width: 100%;
}

.fbshare{
    max-width: 20px;
    margin-top: 0px;
    display: block;
    float: left;
    padding-left: 2px;
}

.fb-share-button{
    background-color: #3b589b;
    line-height: 20px;
    border-radius: 3px;
    box-sizing: content-box;
}

.fb-share-button a{
    font-size: 11px;
    color: white;
    vertical-align: top;
    padding-right: 8px;
    display: inline-block;
    font-weight: 700;
}

.videos-mobile{
    display: none;
}
.videos-desktop{
    display: block;
}





    
    .main-left,
    .main-right{
        float: none;
        width: 97%;
        margin: 0 auto;
    }
    
    .bx-wrapper .bx-pager{
        bottom: 8px;
    }
    
    .bx-wrapper .bx-pager.bx-default-pager a{
        width: 10px;
        height: 10px;
    }
    
    .divider{
        display: none;
    }
    
    .menu{
        height: inherit;
    }
    
    .menu:after {
        content: '';
        display: block;
        clear: both;
    }
    
    .menu-left-block{
        border-right: 0;
        width: 20%;
    }
    
    .menu-center-block{
        width: 60%;
        text-align: center;
    }
    
    .menu-right-block{
        width: 100%;
        display: none;
    }
        
    .ham{
        display: block;
        max-width: 32px;
        padding-top: 5px;
        display: block;
        margin: 0 auto;
    }
    
    nav a{
        display: block;
    }
    
    nav{
        display: none;
        padding: 0;
    }
    
    .menu-left-block img, .menu-right-block img {
        max-height: 36px;
        margin-top: 2px;
    }
    
    #sec-videos .col{
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .onethird,
    .twothirds{
        width: 100%;
    }
    
    
    
    .coltitlefluid{
        font-size: 18px;
    }
    
    .coldescfluid{
        font-size: 12px;
        line-height: 14px;
    }
    
    .biblio{
        font-size: 9px;
    }
    
    li{
        font-size: 11px;
        line-height: 13px;
    }
    
    #abrelosojos a,
    #abrelosojos a:visited{
        font-size: 11px;
    }
    
    .aliado{
        height: 94.6vw;
    }
    
    .videos-mobile{
        display: block;
    }
    .videos-desktop{
        display: none;
    }
    
    







































































